.addleftline {
    position: relative;
    @apply px-2 text-blue-950
}

.addleftline::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    @apply inset-y-0 bg-blue-950/30
}

.addleftlinered {
    position: relative;
}

.addleftlinered::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    @apply inset-y-0 !bg-blue-950/10
}

.model-list:hover .icon-delete {
    display: block;
}

.model-item:nth-child(odd) {
    @apply bg-gray-200/40
}

.decoration-none {
    text-decoration: none;
}

.shadow-medium {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.product-list:nth-child(odd) {
    @apply rounded-md border border-dashed !bg-gray-100/80 border-gray-400/70
}

.product-list:nth-child(even) {
    @apply rounded-md border border-dashed !bg-gray-50/60 border-gray-400/40
}

.product-search-result li {
    @apply p-1 px-2 rounded-md cursor-pointer
}

.product-search-result li:hover * {
    @apply !text-blue-950
}

.product-search-result li:nth-child(even) {
    @apply bg-gray-200/20
}

.product-search-result li:nth-child(odd) {
    @apply bg-gray-200/50
}

.hidescroll {
    padding: 17px 0 17px 17px;
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.hidescroll:hover {
    -webkit-mask-position: left top;
    mask-position: left top;
}

.u--flash {
    -webkit-animation: flash 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-animation: flash 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-animation: flash 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation: flash 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@-webkit-keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@-moz-keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@-o-keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.customer-cart-list .customer-cart-list-item {
    @apply relative border-b border-black/20 shadow
}

.customer-cart-list .customer-cart-list-item::before {
    content: attr(data-index);
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: -30px;
    top: 0;
    color: red;
    @apply inset-y-0 bg-red-400 my-auto flex items-center justify-center text-white rounded-full z-10
}

.customer-cart-list .customer-cart-list-item::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: -15px;
    top: 0;
    @apply inset-y-0 bg-red-400 z-0 isolate
}

.customer-cart-list .customer-cart-list-item .item {
    @apply rounded-md p-2
}

.customer-cart-list .customer-cart-list-item:nth-child(odd) {
    @apply bg-red-50/30
}

.customer-cart-list .customer-cart-list-item:nth-child(even) {
    @apply bg-orange-50/10
}

.add-border-below {
    position: relative;
}

.add-border-below.current {
    @apply translate-x-1 -translate-y-1 bg-white/90 text-info-600
}

.add-border-below:hover::before,
.add-border-below.current::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    @apply -translate-x-1 translate-y-1 -z-20 isolate bg-transparent border-white border-l border-b rounded-md
}

.card {
    border-radius: 0.25rem;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    border-width: 1px;
    --border-opacity: 1;
    border-color: #e2e8f0;
    border-color: rgba(226, 232, 240, var(--border-opacity))
}

.card .card-header {
    border-bottom-width: 1px;
    padding: 1.5rem
}

.card .card-body {
    padding: 1.5rem
}

.card .card-footer {
    border-top-width: 1px;
    padding: 1.5rem
}

.report-card:hover .card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255, 255, 255, var(--border-opacity));
    transform: scale(1.01);
}

.report-card:hover .footer {
    padding: 0;
    border-width: 0
}

.report-card .footer,
.report-card .card {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms
}

.bar-chart {
    background: transparent linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #0000001f;
    border-radius: 8px;
}

.chart-vistior {
    margin-top: 30px;
}

.chart-vistior h5 {
    margin: 0px;
    font-weight: 700;
}

.ant-typography.lastweek {
    color: #8c8c8c;
    font-weight: 600;
}

.chart-visitor-count h4 {
    margin: 0px;
    font-weight: 700;
}

.chart-visitor-count span {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
}

.linechart h5 {
    font-weight: 700;
    margin: 0px;
}

.linechart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sales ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.sales ul li:first-child span.anticon {
    color: #b37feb;
}

.sales ul li:last-child span.anticon {
    color: #1890ff;
}

.sales ul li {
    color: #8c8c8c;
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.full-width path {
    fill: transparent;
}

.loadingwheel {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    padding: 1.5px;
    background-color: white;
}

.loadingwheel:before {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
}

.loadingwheel .loadingBar {
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    width: 0;
    animation: wheelbar 2s linear infinite;
    @apply bg-info-600
}

@keyframes wheelbar {
    0% {
        left: 0%;
        right: 100%;
        width: 0%;
    }
    10% {
        left: 0%;
        right: 75%;
        width: 25%;
    }
    90% {
        right: 0%;
        left: 75%;
        width: 25%;
    }
    100% {
        left: 100%;
        right: 0%;
        width: 0%;
    }
}

.loginbox {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginscreen::after {
    content: '';
    inset: 0;
    height: 30vh;
    position: absolute;
    z-index: -10;
    @apply bg-info-600
}

.loginscreen::before {
    content: '';
    inset: 0;
    height: 70vh;
    transform: skewY(-13deg);
    position: absolute;
    @apply bg-info-600
}

.typed-cursor {
    color: white;
}