@import "@webdatarocks/webdatarocks/webdatarocks.css";

:root {
    --navbar-height: 4rem;
    --sidebar-width: 16rem;
    --sidebar-mini-width: 5.5rem;
    --header-height: 4rem;
}

.addleftline {
    position: relative;
    @apply px-2 text-blue-950
}

.addleftline::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    @apply inset-y-0 bg-blue-950/30
}

.addleftlinered {
    position: relative;
}

.addleftlinered::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    @apply inset-y-0 !bg-blue-950/10
}

.model-list:hover .icon-delete {
    display: block;
}


.decoration-none {
    text-decoration: none;
}

.shadow-medium {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.product-list:nth-child(odd) {
    @apply bg-green-50
}

.product-list:nth-child(even) {
    @apply bg-green-100/20
}

.product-search-result li {
    @apply p-1 px-2 rounded-md cursor-pointer
}

.product-search-result li:nth-child(even) {
    @apply bg-gray-200/20
}

.product-search-result li:nth-child(odd) {
    @apply bg-gray-200/50
}

.hidescroll {
    padding: 17px 0 17px 17px;
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.hiddenscroll::-webkit-scrollbar {
    display: none;
}

.hiddenscroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hidescroll:hover {
    -webkit-mask-position: left top;
    mask-position: left top;
}

.u--flash {
    -webkit-animation: flash 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-animation: flash 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-animation: flash 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation: flash 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@-webkit-keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@-moz-keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@-o-keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.customer-cart-list .customer-cart-list-item {
    @apply relative border-b border-black/20 shadow
}

.customer-cart-list .customer-cart-list-item::before {
    content: attr(data-index);
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: -30px;
    top: 0;
    color: red;
    @apply inset-y-0 bg-red-400 my-auto flex items-center justify-center text-white rounded-full z-10
}

.customer-cart-list .customer-cart-list-item::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: -15px;
    top: 0;
    @apply inset-y-0 bg-red-400 z-0 isolate
}

.customer-cart-list .customer-cart-list-item .item {
    @apply rounded-md p-2
}

.customer-cart-list .customer-cart-list-item:nth-child(odd) {
    @apply bg-red-50/30
}

.customer-cart-list .customer-cart-list-item:nth-child(even) {
    @apply bg-orange-50/10
}

.add-border-below {
    position: relative;
}

.add-border-below.current {
    @apply translate-x-1 -translate-y-1 bg-white/90 text-info-600
}

.add-border-below:hover::before,
.add-border-below.current::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    @apply -translate-x-1 translate-y-1 -z-20 isolate bg-transparent border-white border-l border-b rounded-md
}

.card {
    border-radius: 0.25rem;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    border-width: 1px;
    --border-opacity: 1;
    border-color: #e2e8f0;
    border-color: rgba(226, 232, 240, var(--border-opacity))
}

.card .card-header {
    border-bottom-width: 1px;
    padding: 1.5rem
}

.card .card-body {
    padding: 1.5rem
}

.card .card-footer {
    border-top-width: 1px;
    padding: 1.5rem
}

.report-card:hover .card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255, 255, 255, var(--border-opacity));
    transform: scale(1.01);
}

.report-card:hover .footer {
    padding: 0;
    border-width: 0
}

.report-card .footer,
.report-card .card {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms
}

.bar-chart {
    background: transparent linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #0000001f;
    border-radius: 8px;
}

.chart-vistior {
    margin-top: 30px;
}

.chart-vistior h5 {
    margin: 0px;
    font-weight: 700;
}

.ant-typography.lastweek {
    color: #8c8c8c;
    font-weight: 600;
}

.chart-visitor-count h4 {
    margin: 0px;
    font-weight: 700;
}

.chart-visitor-count span {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
}

.linechart h5 {
    font-weight: 700;
    margin: 0px;
}

.linechart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sales ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.sales ul li:first-child span.anticon {
    color: #b37feb;
}

.sales ul li:last-child span.anticon {
    color: #1890ff;
}

.sales ul li {
    color: #8c8c8c;
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.full-width path {
    fill: transparent;
}

.loginbox {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginscreen::after {
    content: '';
    inset: 0;
    height: 30vh;
    position: absolute;
    z-index: -10;
    @apply bg-info-600
}

.loginscreen::before {
    content: '';
    inset: 0;
    height: 70vh;
    transform: skewY(-13deg);
    position: absolute;
    @apply bg-info-600
}

.typed-cursor {
    color: white;
}

.backdropfiltertry {
    backdrop-filter: blur(1px);
    animation: backdrop-filter 0.4s linear;
}

@keyframes backdrop-filter {
    0% {
        backdrop-filter: blur(1px);
        opacity: 0.2;
        @apply bg-gray-100 text-black/60 border-gray-500
    }

    50% {
        opacity: 0.4;
        backdrop-filter: blur(3px);
        @apply bg-gray-100/50 text-black/30 border-gray-500/60
    }

    100% {
        backdrop-filter: blur(5px);
        opacity: 0.6;
    }
}

input.hidespin::-webkit-outer-spin-button,
input.hidespin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.hidespin[type=number] {
    -moz-appearance: textfield;
}


.shadow-light {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.report-list-card {
    transition: transform 0.1s linear;
}

.report-list-card * {
    user-select: none;
}

.report-list-card .icon-goto {
    display: none;
}

.report-list-card:hover {
    transform: scale(1.03);
}

.report-list-card:hover .icon-goto {
    display: inline;
}

table.report-table th {
    white-space: nowrap;
}

table.report-table td {
    @apply py-[1px]
}

table.report-table th,
table.report-table td {
    text-align: left;
    margin: auto 1rem;
    @apply px-4
}

/* Base scrollbar styles */
.custom-scroll {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}

/* WebKit-based browsers */
.custom-scroll::-webkit-scrollbar {
    width: 5px;

}

/* Track style (the background of the scrollbar) */
.custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle style (the draggable part of the scrollbar) */
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;

}

/* Show the scrollbar thumb when the element is being hovered or focused */
.custom-scroll:hover::-webkit-scrollbar-thumb,
.custom-scroll:focus::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb:hover {
    width: 5px;
}

/* When the handle is being dragged */
.custom-scroll::-webkit-scrollbar-thumb:active {
    background-color: #333;
}

/* When the scrollbar is in a "corner" (such as on macOS) */
.custom-scroll::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}



.settings-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.store-list-item:nth-child(even) {
    @apply bg-green-50/50
}

.store-list-item:nth-child(odd) {
    @apply bg-green-50/20
}


.ps-list-item{
    @apply hover:scale-y-[1.01] transition-transform duration-300
}

.ps-list-item:hover:not(.inactive) .ps-indicator{
    @apply !w-[12px]
}

.ps-list-item:nth-child(odd){
    @apply !bg-green-950/10
}
.ps-list-item:nth-child(even){
    @apply !bg-green-900/5
}

.p-tr:nth-child(odd){
    @apply !bg-gray-100/5
}
.p-tr:nth-child(even){
    @apply !bg-gray-400/10
}

.add-sidebar-bezier {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 0.5s;
  }

  .route-active {
    @apply flex py-2 px-2 relative text-[#4D4D4D] w-full gap-2 items-center bg-red-900/90 rounded-md
  }
  
  .route-inactive {
    @apply flex py-2 px-2 w-full gap-2 items-center
  }
  
  .route-active .route-icon {
    @apply text-white
  }
  
  
  
  .route-active .route-title {
    @apply text-white font-semibold
  }
  
  .route-inactive .route-icon {
    @apply text-[#fef2f2] 
  }
  
  .route-inactive .route-title {
    @apply text-[#fef2f2]
  }

  .sidebarclosed {
    @apply !left-[-100%] md:!left-0
  }
  
  .sidebaropened {
    @apply left-0 isolate
  }


  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #067b82;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #067b82;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #067b82;
    border-color: #067b82;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  
  .product-stack-indicator{
    @apply absolute inset-0 mx-auto h-[90%]  rounded-md  shadow-sm 
  }

  .product-stack-indicator:nth-child(1){
    @apply w-[96%] bg-orange-200 border-orange-100 translate-y-3  z-[-1]
  }

  .product-stack-indicator:nth-child(2){
    @apply w-[94%] bg-orange-300 border-orange-300 translate-y-4  z-[-2]
  }

  .product-stack-indicator:nth-child(n+3){
    @apply !bg-red-500
  }
  